name: Release

on:
  push:
    tags:
    - v*.*.*

permissions:
  contents: write

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Create GitHub Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create "${{ github.ref_name }}" \
          --title "${{ github.ref_name }}" \
          --generate-notes
